@import '../../../styles/variables/variables';

.video-player {
  justify-content: center;
  position: relative;
  width: 900px;
  max-width: 100%;
  &[data-view-mode='cinema'] {
    width: 100%;
    padding: 0 calc((100% - 900px) / 2);
    background-color: black;
  }
  &:focus {
    outline: none;
  }
  .video-player__video {
    background-color: rgba(0, 0, 0, 0.8);
  }
  // &[data-view-mode='fullscreen'] {
  //   .video-player__controller {
  //     transform: translateY(60px);
  //     transition: all 0.25s ease-in-out;
  //   }
  // }
  .video-player__video {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  .video-player__overlay-effect {
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    aspect-ratio: 1 /1;
    border-radius: 50%;
    color: white;
    font-size: 30px;
  }
  .video-player__progress-bar-container {
    position: absolute;
    left: 0px;
    bottom: 32px;
    width: 100%;
    padding: 0 7.5px;
    .video-player__progress-bar {
      width: 100%;
      height: 5px;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 0.1s ease-in-out;
      cursor: pointer;
      &:hover {
        height: 10px;
        .progress-bar--filled {
          .progress-bar__current {
            transform: scale(1);
          }
        }
      }
      .progress-bar--filled {
        height: 100%;
        max-width: 100%;
        background-color: red;
        position: relative;
        .progress-bar__current {
          width: 15px;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          margin-top: -7.5px;
          right: -7.5px;
          transform: scale(0);
          background-color: white;
          z-index: 3;
        }
      }
    }
  }

  .video-player__controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: padding-vertical('small') padding-horizontal();
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    .controller__column {
      display: flex;
      align-items: center;
      column-gap: column-gap();
      .controller__button {
        color: white;
      }
      .volume-controller {
        display: flex;
        align-items: center;
        column-gap: column-gap('small');
        &:hover {
          .volume-controller__volume-input {
            width: 80px;
            &::-webkit-slider-thumb {
              display: block;
            }
          }
        }
        .volume-controller__volume-button {
          min-width: 1.8rem;
        }
        .volume-controller__volume-input {
          padding: 0;
          -webkit-appearance: none;
          width: 0px;
          height: 6px;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.35);
          outline: none;
          -webkit-transition: 0.25s;
          transition: all 0.25s;
          &:focus {
            outline: none;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            display: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: white;
            cursor: pointer;
          }
          &::-moz-range-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: white;
            cursor: pointer;
          }
        }
      }
      .video-player__timestamp {
        color: white;
        @include font-size('small');
        .timestamp__current-time::after {
          content: ' / ';
        }
      }
    }
  }
}

@include mobileAndTablet {
  .video-player {
    width: 100%;
    .video-player__controller {
      width: 100%;
      .controller__column {
        .view-controller__cinema-button {
          display: none;
        }
      }
    }
  }
}
