nav.nav
    ul.nav__categories 
        a(href=routes.home)
            li.nav__category
                .nav__category-icon
                    i.fas.fa-home
                .nav__category-name
                    |Home
        if loggedUser
            a(href=routes.history)
                li.nav__category
                    .nav__category-icon
                       <i class="fas fa-history"></i>
                    .nav__category-name
                        |History
        a(href="#")
            li.nav__category
                .nav__category-icon
                    i.fas.fa-music
                .nav__category-name
                    |Music
        a(href="#")
            li.nav__category
                .nav__category-icon
                    i.fas.fa-gamepad
                .nav__category-name
                    |Game
        a(href="#")
            li.nav__category
                .nav__category-icon
                    i.fas.fa-film
                .nav__category-name
                    |Movie
        a(href="#")
            li.nav__category
                .nav__category-icon
                    <i class="fas fa-newspaper"></i>
                .nav__category-name
                    |Social News
        a(href="#")
            li.nav__category
                .nav__category-icon
                    <i class="fas fa-paw"></i>
                .nav__category-name
                    |Animals
        a(href="#")
            li.nav__category
                .nav__category-icon
                    <i class="fas fa-dumbbell"></i>
                .nav__category-name
                    |Sports
        a(href="#")
            li.nav__category
                .nav__category-icon
                    <i class="fas fa-utensils"></i>
                .nav__category-name
                    |Food
        a(href="#")
            li.nav__category
                .nav__category-icon
                  <i class="fas fa-palette"></i>
                .nav__category-name
                    |Art
        a(href="#")
            li.nav__category
                .nav__category-icon
                  <i class="fas fa-tv"></i>
                .nav__category-name
                    |TV shows
        a(href="#")
            li.nav__category
                .nav__category-icon
                    <i class="fas fa-pray"></i>
                .nav__category-name
                    |Religion
        a(href="#")
            li.nav__category
                .nav__category-icon
                    <i class="fas fa-plane"></i>
                .nav__category-name
                    |Travel
        a(href="#")
            li.nav__category
                .nav__category-icon
                    <i class="fas fa-tshirt"></i>
                .nav__category-name
                    |Fashion
        a(href="#")
            li.nav__category
                .nav__category-icon
                    <i class="fas fa-book-open"></i>
                .nav__category-name
                    |Educational
        a(href="#")
            li.nav__category
                .nav__category-icon
                    <i class="fas fa-cubes"></i>
                .nav__category-name
                    |Kids
script
    include ../../frontJS/nav.js

    