nav.nav
    ul.nav__categories 
        li.nav__category
            a(href=routes.home)
                .nav__category-icon
                    i.fas.fa-home
                .nav__category-name
                    |Home
        li.nav__category
            a(href="#")
                .nav__category-icon
                    i.fas.fa-music
                .nav__category-name
                    |Music
        li.nav__category
            a(href="#")
                .nav__category-icon
                    i.fas.fa-gamepad
                .nav__category-name
                    |Game
        li.nav__category
            a(href="#")
                .nav__category-icon
                    i.fas.fa-film
                .nav__category-name
                    |Movie
        li.nav__category
            a(href="#")
                .nav__category-icon
                    <i class="fas fa-newspaper"></i>
                .nav__category-name
                    |Social News
        li.nav__category
            a(href="#")
                .nav__category-icon
                    <i class="fas fa-paw"></i>
                .nav__category-name
                    |Animals
        li.nav__category
            a(href="#")
                .nav__category-icon
                    <i class="fas fa-dumbbell"></i>
                .nav__category-name
                    |Sports
        li.nav__category
            a(href="#")
                .nav__category-icon
                    <i class="fas fa-utensils"></i>
                .nav__category-name
                    |Food
        li.nav__category
            a(href="#")
                .nav__category-icon
                  <i class="fas fa-palette"></i>
                .nav__category-name
                    |Art
        li.nav__category
            a(href="#")
                .nav__category-icon
                  <i class="fas fa-tv"></i>
                .nav__category-name
                    |TV shows
        li.nav__category
            a(href="#")
                .nav__category-icon
                    <i class="fas fa-pray"></i>
                .nav__category-name
                    |Religion
        li.nav__category
            a(href="#")
                .nav__category-icon
                    <i class="fas fa-plane"></i>
                .nav__category-name
                    |Travel
        li.nav__category
            a(href="#")
                .nav__category-icon
                    <i class="fas fa-tshirt"></i>
                .nav__category-name
                    |Fashion
        li.nav__category
            a(href="#")
                .nav__category-icon
                    <i class="fas fa-book-open"></i>
                .nav__category-name
                    |Educational
        li.nav__category
            a(href="#")
                .nav__category-icon
                    <i class="fas fa-cubes"></i>
                .nav__category-name
                    |Kids
script
    include ../../nav.js

    