@import './styles/variables/variables';

.app {
  width: 100%;
  height: 100%;
  @include font-size();
  display: grid;
  grid-template-areas:
    'header header'
    'nav main';
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content;
  grid-auto-rows: 1fr;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  @extend %default-padding;
  @include scrollbar('xy');
  & > * {
    margin: auto;
  }
}

@include mobile {
  .app {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }
}
