@import './styles/reset.scss';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
