doctype html
html
    head
        title #{pageTitle} | #{siteName}
        <script src="https://kit.fontawesome.com/3d92170940.js" crossorigin="anonymous"></script>
    body
        include ../partials/header
        main
            block content
        include ../partials/footer