.userForm-greeting {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .userForm-logo {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    i {
      margin-right: 10px;
      color: $red;
    }
  }
  .userForm-letter {
    font-size: 25px;
  }
}

.form-container {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;

  align-items: center;
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    input {
      display: block;
      margin-bottom: 17px;
      width: 450px;
      height: 50px;
      font-size: 17px;
      padding: 0px 10px;
      border: none;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    input[type="submit"] {
      margin-top: 20px;
      background-color: $graybtn;
      color: $gray;
    }
    .file-upload {
      display: flex;
      width: 450px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 50px;
        background-color: rgb(158, 158, 158);
        color: $gray;
        border-radius: 10px;
        transition: all 0.2s;
        &:hover {
          background-color: rgb(116, 115, 115);
        }
      }
    }

    input[type="file"] {
      display: inline-block;
      padding: 10px 10px;
      width: 350px;
    }
    textarea[name="description"] {
      width: 450px;
      height: 120px;
      font-size: 17px;
      padding: 5px 10px;
      margin-bottom: 20px;
      border: none;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      &::placeholder {
        font-size: 20px;
      }
    }
    .selectBox {
      display: flex;
      justify-content: space-between;
      width: 450px;
      .select-guide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 50px;
        background-color: rgb(158, 158, 158);
        color: $gray;
        border-radius: 10px;
      }
      select {
        width: 350px;
        height: 50px;
        background: #2c3e50;
        appearance: none;
        padding: 10px 20px;
        option {
          background-color: $gray;
          height: 100px;
        }
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #fff;
        background-image: none;
      }
      /* Remove IE arrow */
      select::-ms-expand {
        display: none;
      }
      /* Custom Select */
      .select {
        position: relative;
        display: flex;
        width: 350px;
        height: 50px;
        line-height: 3;
        background: #2c3e50;
        overflow: hidden;
        border-radius: 8px;
      }
      select {
        flex: 1;
        padding: 0 10px;
        color: rgb(126, 126, 126);
        cursor: pointer;
        font-size: 17px;
      }
      /* Arrow */
      .select::after {
        content: "\25BC";
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        color: gray;
        background: rgb(218, 218, 218);
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: 0.25s all ease;
        -o-transition: 0.25s all ease;
        transition: 0.25s all ease;
      }
      /* Transition */
      .select:hover::after {
        color: rgb(73, 73, 73);
      }
      .select option {
        background: #fff;
      }
    }
  }
  .form-container__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    font-size: 17px;
    padding: 0px 10px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    margin-top: 17px;
    background-color: $light-red;
    color: $gray;
    cursor: default;
  }

  .social-login {
    width: 450px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    button {
      width: 210px;
      height: 40px;
      font-size: 14px;
      color: $gray;
      border: none;
      border-radius: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07);
    }
    .social-login__github {
      background-color: rgba(0, 0, 0, 0.753);
    }
    .social-login__facebook {
      background-color: #395794;
    }
  }
}
