.videoBlock {
  position: relative;
  .videoBlock--removed {
    position: absolute;
    background-color: $gray;
    border: 1px solid $border;
    top: 0;
    left: 0;
    width: 280px;
    height: 160px;
    padding: 20px 0px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .videoBlock--removed-notice {
      opacity: 0.65;
    }
    .videoBlock--removed-notLoggedIn {
      font-size: 12px;
      opacity: 0.5;
      line-height: 1.2;
      text-align: center;
    }
    .videoBlock--removed-buttons {
      width: 120px;
      display: flex;
      justify-content: space-between;
    }
    .videoBlock--removed-button {
      cursor: pointer;
      color: $skyblue;
      font-weight: 600;
    }
  }
}
