@import '../../../styles/variables/variables';

.field-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .field-input__field-name {
    margin-bottom: row-gap('x-small');
  }
  textarea,
  input,
  select,
  label {
    width: $page-form-item-width;
  }
  .file-input__label {
    padding: padding-vertical('small') padding-horizontal('small');
    background-color: $light-gray;
    border-radius: $border-radius;
    margin-top: 0.1rem;
    &:active {
      background-color: $light-gray-active;
    }
    .file-upload-button {
      text-align: center;
    }
  }
}
