extends layouts/main
include mixins/videoBlock

block content
    ul.home__videos
        li
            p.videos-topic 추천 동영상
            .videos
                each video in videos
                    +videoBlock(video)
    include ./partials/nav
        //-     li
        //-         p.videos-topic 음악
        //-         .videos
        //-             each video in videos
        //-                 +videoBlock(video)
        //- li
        //-     p.videos-topic 게임
        //-     .videos
        //-         each video in videos
        //-             +videoBlock(video)
        //- li
        //-     p.videos-topic 영화
        //-     .videos
        //-         each video in videos
        //-             +videoBlock(video)