extends layouts/main.pug

block content
    .form__container
        form(action="/join", method = "post")
            input(type = "text", name="name", placeholder="성명/Full Name")
            input(type = "email", name="email", placeholder="이메일/email")
            input(type = "password", name="password", placeholder = "비밀번호/Password")
            input(type = "password", name="password2", placeholder = "비밀번호 확인/Verify Password")
            input(type = "submit", value = "Join Now")
        include partials/socialLogin