extends layouts/main.pug

block content
    .form__container
        form(action="/login", method = "post")
            input(type = "email", name="email", placeholder="이메일/email")
            input(type = "password", name="password", placeholder = "비밀번호/Password")
            input(type = "submit", value = "Login")
        include partials/socialLogin