extends layouts/main
include mixins/videoBlock

block content
    ul.home__videos
        li
            p.videos-topic Searching by #{searchingBy} - 
                if videos.length === 1
                    |#{videos.length} result found
                else
                    |#{videos.length} results found
            .videos
                each video in videos
                    +videoBlock(video)
    include ./partials/nav
    script
        include ../frontJS/home.js