extends layouts/main
include mixins/videoBlockSearch

block content
    .search
        .search__header
            h3 Searching by #{searchingBy} - 
                if videos.length === 1
                    |#{videos.length} result found
                else
                    |#{videos.length} results found
        .search__videos
            each video in videos
                +videoBlockSearch(video)
    include ./partials/nav