extends layouts/main.pug
//- include mixins/selectBox.pug

block content
    .form-container.no-drag
        .record-container#jsRecordContainer
            video#jsRecordPreview
            .record-btns
                button#jsRecordStartBtn <i class="fas fa-video"></i> Start Recording
                .record-btns--recording
                    button#jsRecordPauseBtn <i class="fas fa-pause"></i> Pause Recording
                    button#jsRecordResumeBtn <i class="fas fa-play"></i> Resume Recording
                    button#jsRecordStopBtn <i class="fas fa-stop"></i> Stop Recording
        form(action=routes.videos+routes.upload, method = "post", enctype="multipart/form-data")
            .file-upload
                label(for="file") Video File
                input(type="file", id = "file", name="videoFile", required=true, accept="video/*")
            .file-upload
                label(for="thumbnail") Thumbnail<br>(Optional)
                input(type="file", id="thumbnail", name="thumbnailImage", accept="image/*")
            input(type="text", placeholder="Title", name="title", required=true, maxlength="80")
            textarea(name="description", placeholder="description", required=true, maxlength="300")
            .selectBox
                .select-guide Category
                .select
                    select(name="category")
                        option(value="Animals")|Animals
                        option(value="Art")|Art
                        option(value="Educational")|Educational
                        option(value="Food")|Food
                        option(value="Game")|Game
                        option(value="Kids")|Kids
                        option(value="Movie")|Movie
                        option(value="Music")|Music
                        option(value="Religion")|Religion
                        option(value="SocialNews")|Social News
                        option(value="Sports")|Sports
                        option(value="Travel")|Travel
                        option(value="TVshows")|TV Shows    
                        option(value="Etc")|Etc
            //- +SelectBox('category', [
            //-     {name: 'Music', value: 'Music'}, 
            //-     {name: 'Game', value: 'Game'}, 
            //-     {name: 'Movie', value: 'Movie'}, 
            //-     {name: 'Social News', value: 'Social'}, 
            //-     {name: 'Animals', value: 'Animals'},
            //-     {name: 'Sports', value: 'Sports'},
            //-     {name: 'Food', value: 'Food'},
            //-     {name: 'Art', value: 'Art'},
            //-     {name: 'TV Shows', value: 'TVShows'},
            //-     {name: 'Religion', value: 'Religion'},
            //-     {name: 'Travel', value: 'Travel'},
            //-     {name: 'Educational', value: 'Educational'},
            //-     {name: 'Kids', value: 'Kids'}
            //-     ])
            input(type="submit", value="Upload Video")