@import '../../../styles/variables/variables';

.comment-container {
  padding: padding-vertical() 0;
  &:not(:last-child) {
    border-bottom: light-gray-border();
  }
  .comment {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: column-gap();
    &:hover {
      .comment__config-button {
        opacity: 1;
      }
    }
    &.comment--editing {
      display: none;
    }
    .comment__main {
      .comment__header {
        display: flex;
        align-items: center;
        .username-link {
          margin-right: column-gap('small');
        }
        span {
          opacity: 0.7;
          @include font-size('small');
        }
      }
    }

    .comment__config-button {
      opacity: 0;
    }
  }
}

@include mobile {
  .comment-container {
    .comment {
      .comment__config-button {
        opacity: 1;
      }
    }
  }
}
