@import '../../../../styles/variables/variables';
@import '../../../../styles/popup.scss';

.my-profile {
  position: relative;
  .my-profile__config-button {
    position: absolute;
    top: padding-vertical();
    right: padding-horizontal();
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    border: light-gray-border();
    border-radius: 1.25rem;
    background-color: white;
    .config-button__icon {
      @include font-size();
      font-size: 1.5rem;
    }
  }
  .my-profile__config-popup {
    width: 18rem;
    position: absolute;
    padding: padding-vertical('small') 0;
    @include scrollbar('y');
    &[data-is-visible='true'] {
      display: flex;
      flex-direction: column;
    }
    .popup__button {
      padding: padding-vertical('small') padding-horizontal();
      &:not(:last-child) {
        border-bottom: light-gray-border();
      }
    }
  }
}
