@import '../../../styles/variables/variables';

header.header {
  background-color: black;
  color: white;
  padding: padding-vertical() padding-horizontal('large');
  display: flex;
  align-items: center;
  .header__logo {
    display: flex;
    align-items: center;
    width: min-content;
    .logo__image {
      width: 2.2rem;
      margin-right: column-gap('small');
    }
    .logo__text {
      @include font-size('large');
      font-weight: bold;
      vertical-align: middle;
    }
  }
}
