@import '../../../styles/variables/variables';

$icon-size: 1.5rem;

header.header {
  background-color: black;
  color: white;
  padding: padding-vertical() padding-horizontal('large');
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: column-gap('xx-large');
  align-items: center;
  .header__logo {
    display: flex;
    align-items: center;
    width: min-content;
    .logo__image {
      width: 2.2rem;
      margin-right: column-gap('small');
    }
    .logo__text {
      @include font-size('large');
      font-weight: bold;
      vertical-align: middle;
    }
  }
  .header__right {
    display: flex;
    align-items: center;
    .header__button {
      &:not(:last-child) {
        margin-right: column-gap();
      }
      &.header__search-button {
        display: none;
      }
      .header__icon {
        width: $icon-size;
        height: $icon-size;
        border-radius: $icon-size / 2;
        font-size: $icon-size;
        color: white;
      }
    }
  }
}

@include mobileAndTablet {
  header.header {
    grid-template-areas:
      'logo . right'
      'search search search';
    grid-template-columns: min-content 1fr min-content;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    column-gap: column-gap();
    row-gap: row-gap();
    padding: padding-vertical() padding-horizontal();
    .header__logo {
      grid-area: logo;
    }
    .header__right {
      grid-area: right;
      .header__button {
        &.header__search-button {
          display: block;
        }
      }
    }
  }
}
