@import '../../../styles/variables/variables';

.comment-form-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: column-gap();
  .comment-form {
    display: flex;
    flex-direction: column;
    row-gap: row-gap('small');
    .comment-form__buttons {
      display: flex;
      justify-content: flex-end;
      column-gap: column-gap('small');
      .comment-form__button {
        @include square-button();
        &.comment-form__submit-button {
          border: light-gray-border();
          @include approve-button();
        }
      }
    }
  }
}
