@import '../../../styles/variables/variables';

.blur-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}

.blur-background[data-is-visible='true'] {
  display: block;
}
