@import "/config/_variables.scss";
@import "/config/reset.scss";

@import "/partials/header.scss";
@import "/partials/footer.scss";
@import "/partials/nav.scss";
@import "/partials/form.scss";
@import "/partials/comments.scss";
@import "/partials/record.scss";
@import "/partials/videosHeader.scss";
@import "/partials/videoPlayer.scss";

@import "/main.scss";
@import "/pages/home.scss";
@import "/pages/join.scss";
@import "/pages/videoDetail.scss";
@import "/pages/search.scss";
@import "/pages/userDetail.scss";

* {
  box-sizing: border-box;
}

body {
  min-width: 740px;
}

.light {
  opacity: 0.6;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
