extends layouts/main.pug

block content
    .userForm-greeting.no-drag
        p.userForm-logo
            i.fab.fa-youtube
            |Yutube
        p.userForm-letter Login for daily entertainment!
    .form-container
        form(action=routes.login, method = "post")
            input(type = "email", name="email", placeholder="이메일/email", required=true)
            input(type = "password", name="password", placeholder = "비밀번호/Password", required=true)
            input(type = "submit", value = "Login")
        include partials/socialLogin
    if loginFailed
        #loginFailed Please check your ID and Password
    script
            include ../frontJS/passwordMatch.js
    script.
        const loginFailed = document.getElementById("loginFailed");
        setTimeout(function(){
            loginFailed.style.opacity = 0;
            }, 3500);