mixin videoPlayer(video = {})
    .video__player#jsVideoPlayer
        video(src=`${routes.home+video.fileUrl}`)
        .video__player__effect
            <i class="fas fa-pause"></i>
        .autoplay#autoplay
            .next-video__title 영상의 제목을 예시로 들어보겠다 이말이오
            .next-video__creator 니니즈 TV
            .autoplay__play
                svg.autoplay__loading-bar
                    circle(cx="40", cy="40", r ="40")
                .autoplay__btn
                <i class="fas fa-step-forward"></i>
                .autoplay__cancel
                    .autoplay__cancel__background
                    span Cancel
        .video__player__controls
            .video__player__progress-bar
                .progress-bar__current
                    .current-dot
            .video__player__controls-bar
                .video__player__column
                    .play-pause.video__control
                        <i class="fas fa-play control-icon"></i>
                        .control-name.no-drag Play
                        //- <i class="fas fa-pause"></i>
                    .volume-btn.video__control
                        .volume-icon
                            <i class="fas fa-volume-down control-icon"></i>
                        .control-name.no-drag Mute
                        .volume-bar
                            input.volume-range(type="range", min="0", max="1", step = "0.01", value = "0.5")
                    .timestamp
                        span.timestamp-current 0:00
                        |&nbsp;/&nbsp;
                        span.timestamp-total 10:00
                .video__player__column
                    .settings.video__control
                        <i class="fas fa-cog control-icon"></i>
                        .control-name.no-drag Settings
                        .settings__main.no-drag.settingsBox
                            .settings-speed.settings__main__category.settings-bar
                                .settings__category-column.settings__main__category-title Playback Speed
                                .settings__category-column
                                    span.settings__main__category-value Normal
                                    <i class="fas fa-chevron-right"></i>
                        .settings__category.settings-speed.no-drag.settingsBox
                            .category-title
                                <i class="fas fa-chevron-left"></i>
                                |Playback Speed
                            .category-option.settings-bar
                                .category-option-check
                                    <i class="fas"></i>
                                |0.5
                            .category-option.settings-bar
                                .category-option-check
                                    <i class="fas"></i>
                                |0.75
                            .category-option.settings-bar 
                                .category-option-check
                                    <i class="fas fa-check"></i>
                                |Normal
                            .category-option.settings-bar
                                .category-option-check
                                    <i class="fas"></i>
                                |1.25
                            .category-option.settings-bar
                                .category-option-check
                                    <i class="fas"></i>
                                |1.5
                    .expand.video__control
                        <i class="fas fa-expand control-icon"></i>
                        .control-name.no-drag Full Screen
        canvas#canvas
    script
        include ../../frontJS/videoPlayer.js