@import '../../../styles/variables/variables';

nav {
  padding: padding-vertical('small') 0;
  @include scrollbar('y');
  background-color: white;
  z-index: $z-index-top;
  &.nav--desktop-hidden {
    display: none;
  }
  .nav__section {
    &:not(:last-child) {
      border-bottom: light-gray-border();
    }
    .nav__tabs {
      .tabs__tab {
        display: flex;
        align-items: center;
        padding: padding-vertical() padding-horizontal();
        &:hover {
          background-color: $light-gray-hover;
        }
        &:active,
        &.tabs__tab--selected {
          background-color: $light-gray-active;
        }
        .tab__left {
          display: flex;
          justify-content: center;
          width: 2.5rem;
          margin-right: column-gap();
          .tab__icon {
            @include font-size('semi-large');
          }
        }
      }
    }
  }
}

@include tablet {
  nav {
    padding: padding-vertical('x-small') 0;
    .nav__section {
      .nav__tabs {
        padding: padding-vertical('small') padding-horizontal('small');
        .tabs__tab {
          flex-direction: column;
          justify-content: center;
          padding: padding-vertical() padding-horizontal('small');
          .tab__left {
            width: auto;
            margin-right: 0;
            margin-bottom: row-gap('small');
          }
          .tab__right {
            @include font-size('small');
          }
        }
      }
    }
  }
}

@include mobile {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    border-bottom: light-gray-border();
    &.nav--mobile-visible {
      display: flex;
      flex-direction: column;
      transform: translateX(0);
    }
    .nav__section {
      .nav__tabs {
        padding: padding-vertical('small') padding-horizontal('small');
      }
    }
  }
}
