$bgColor: coral;
$red: #ea232c;
$light-red: rgb(247, 91, 91);
$dark-red: #bb2f2a;
$gray: #f5f5f5;
$black: #121212;
$dark-gray: #e7e7e7;
$graybtn: #444444;
$border: rgb(216, 216, 216);
$tab: #ececec;
$selected-tab: #d8d8d8;
