$bgColor: coral;
$red: #ea232c;
$light-red: rgb(247, 91, 91);
$dark-red: #bb2f2a;
$gray: #f5f5f5;
$black: #121212;
$dark-gray: #e7e7e7;
$graybtn: #444444;
$lightgraybtn: rgb(148, 148, 148);
$lightgraybtn-hover: #7e7e7e;
$border: rgb(216, 216, 216);
$tab: #ececec;
$selected-tab: #d8d8d8;
$small-popup: #333333;
$cancelBtn: #e6e6e6;
$yesBtn: #065fd4;
$skyblue: #2a79b4;
$facebook: #395794;
$google: #d34836;
