.header {
  // width: 100vw;
  height: 55px;
  padding: 0px 25px;
  background-color: $black;
  display: grid;
  grid-template-columns: minmax(110px, 0.8fr) minmax(230px, 1.5fr) 0.7fr;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  a {
    color: $gray;
  }
  i.fa-youtube {
    color: red;
    margin-right: 5px;
  }
  i.fa-search {
    color: #a09d9d;
  }
}

.header a.home {
  font-size: 24px;
}

.header .header__column:nth-child(2) {
  display: flex;
  justify-content: center;
  height: 90%;
}

.header__column form {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__column input,
.header__column button {
  height: 70%;
  font-size: 17px;
}

.header__column input {
  width: 85%;
  padding: 0px 5px;
}

.header__column button {
  width: 8%;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__column button:hover > i {
  color: rgba(0, 0, 0, 0.589);
}

.header__column ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__column li {
  margin-left: 15px;
  // background-color: rgb(71, 71, 71);
  padding: 5px 10px;
  border-radius: 3px;
  flex-shrink: 0;
  &:hover {
    background-color: rgb(71, 71, 71);
  }
  .header__myProfileLink {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      margin-right: 10px;
      border-radius: 50%;
    }
    .header__username {
      max-width: 165px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
