.home__videos li {
  padding-top: 25px;
  padding-bottom: 25px;
  .videos-topic {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  .noVideo {
    padding-top: 10px;
  }
  .videos {
    display: grid;
    grid-template-columns: repeat(4, minmax(155px, 1fr));
    grid-template-rows: minmax(140px, 15vw);
    grid-auto-flow: row;
    grid-auto-rows: minmax(140px, 15vw);
    grid-column-gap: 35px;
    grid-row-gap: 60px;
  }
}

@media (max-width: 836px) {
  .home__videos li {
    .videos {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(140px, 15vw);
      grid-auto-flow: row;
      grid-auto-rows: minmax(140px, 15vw);
      grid-column-gap: 35px;
      grid-row-gap: 60px;
    }
  }
}

@media (min-device-width: 320px) and (max-device-width: 480px) {
  .home__videos li {
    .videos {
      display: flex;
      flex-direction: column;
      .videoBlock__info {
      }
    }
  }
}
