.user-profile {
  width: 100%;
  height: 470px;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid $graybtn;
    margin-bottom: 10px;
  }
  .profile-name {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .profile-status {
    font-size: 17.5px;
    margin-bottom: 50px;
  }
  .profile-btns {
    display: flex;
    width: 360px;
    justify-content: space-between;
    .profile-btn {
      width: 160px;
      height: 50px;
      background-color: $lightgraybtn;
      border-radius: 10px;
      color: $gray;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $lightgraybtn-hover;
      }
    }
  }
  .no-user-img {
    margin-bottom: 15px;
  }
  .no-authority {
    width: 210px;
    margin-bottom: 30px;
  }
}

.uploaded-videos {
  .videos-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    column-gap: 15px;
    grid-auto-rows: minmax(230px, 1fr);
    // background-color: red;
    a {
      color: black;
      margin-bottom: 20px;
      .videoBlock {
        .videoBlock__thumbnail {
          position: relative;
          z-index: 0;
        }
        .videoBlock__title {
          font-size: 17px;
          margin: 5px 0px;
          padding-right: 25px;
          // background-color: green;
          // display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-height: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .videoBlock__info {
          margin-top: 5px;
          font-size: 12.5px;
        }
      }
    }
  }
}

.no-content {
  width: max-content;
  left: 50%;
  margin-top: 20px;
  margin-left: -176px;
  position: absolute;
  font-size: 20px;
}
