@import '../../../styles/variables/variables';

.file-input__label {
  padding: padding-vertical('small') padding-horizontal('small');
  background-color: $light-gray;
  border-radius: border-radius();
  margin-top: 0.1rem;
  word-break: break-all;
  &:active {
    background-color: $light-gray-active;
  }
  .label__file-upload-button {
    text-align: center;
  }
}
