//font-size
@mixin font-size($size: 'default') {
  @if $size == 'small' {
    font-size: 0.8rem;
  } @else if $size == 'default' {
    font-size: 1rem;
  } @else if $size == 'semi-large' {
    font-size: 1.3rem;
  } @else if $size == 'large' {
    font-size: 1.7rem;
  } @else {
    //x-large
    font-size: 2.5rem;
  }
}

//opacity
$blur-text: rgba(0, 0, 0, 0.7);
