@import './colors';

$scrollbar-width: 10px;

@mixin overflow($axis: 'xy') {
  @if $axis == 'xy' {
    overflow: auto;
  } @else if $axis == 'x' {
    overflow-x: auto;
  } @else if $axis == 'y' {
    overflow-y: auto;
  }
}

@mixin scrollbar($axis: 'xy') {
  @include overflow($axis);
  &:hover {
    box-sizing: content-box;
  }
  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }
  &::-webkit-scrollbar-track {
    background-color: $light-gray-hover;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light-gray;
    border-radius: $scrollbar-width / 2;
    &:active {
      background-color: $light-gray-active;
    }
  }
}

@mixin hide-scrollbar($axis: 'xy') {
  // @include overflow($axis);
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
