$scrollbar-width: 10px;

@mixin scroll-bar() {
  overflow: auto;
  &:hover {
    box-sizing: content-box;
  }
  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }
  &::-webkit-scrollbar-track {
    background-color: $light-gray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(185, 185, 185);
    border-radius: $scrollbar-width / 2;
    &:active {
      background-color: rgb(150, 148, 148);
    }
  }
}
