doctype html
html
    head
        title #{pageTitle} | #{siteName}
        <meta name="author" content="유동환/aroundthistime/콘요맘떼">
        <script src="https://kit.fontawesome.com/3d92170940.js" crossorigin="anonymous"></script>
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        #videoBlockActionNotice.no-drag
            .videoBlockActionResult
            .videoBlockActionLink
            .videoBlockActionTarget
        script(src="/static/main.js")