@import '../../../styles/variables/variables';

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: min-content;
  column-gap: column-gap('large');
  row-gap: row-gap('large');
  padding: padding-vertical() 0;
}
