@import '../../../styles/variables/variables';

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: min-content;
  column-gap: column-gap('large');
  row-gap: row-gap('large');
  padding: padding-vertical() 0;
}

.videos__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: padding-vertical() 0;
  border-bottom: light-gray-border();
  .videos__title {
    @include font-size('semi-large');
  }
  .header__right {
    font-weight: bold;
    color: $blur-text;
    .header__button {
      font-weight: inherit;
      color: currentColor;
    }
  }
}

@include mobile {
  .videos {
    padding: 0;
  }
}
