@import '../../../../styles/variables/variables';

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: padding-vertical('large') 0;
  .form__title {
    @include font-size('x-large');
    margin-bottom: row-gap('x-large');
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      margin-bottom: row-gap();
    }
    input {
      &:not(:last-child) {
        margin-bottom: row-gap();
      }
      &:focus {
        border-color: red;
      }
    }
    .form__alert-message {
      height: 2rem;
      margin: 0;
      color: red;
      font-weight: bold;
    }
    button {
      width: $page-form-item-width;
      padding: padding-vertical('small') padding-horizontal();
      margin-top: row-gap();
      border: light-gray-border();
      border-radius: border-radius();
      color: white;
      @include shadow();
      &.form__submit-button {
        background-color: red;
      }
    }
  }
}

.page-form__link {
  margin-top: row-gap('small');
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.7);
}

@include mobile {
  .form-wrapper {
    form {
      .form__alert-message {
        @include font-size('small');
        height: 2.5rem;
      }
    }
  }
}
